form {
    margin-left: 45%;
}
.table {
    display: grid;
    grid-template-rows: 140px 140px 140px;
    grid-template-columns: 140px 140px 140px;
    margin-top: 65%;

}
a { 
    position: absolute;
    background-color: #F64C72;
    color: black;
    border-radius: 50%;
    text-decoration: none;
    display: inline-block;
    padding: 8px 16px;
    
}

a:hover {
    background-color: #553D67;
    color: wheat;
}

body {
    display: flex;
    background: #1d1c25;
}

.box {
    display: flex;
    margin: 15px;
}

.b {
    visibility: hidden;
}

button {
    width: 100%;
    height: 100%;
    color: black;
    background: #F64C72;
    cursor: pointer;
    border-radius: 30%;
    border-width: 0px;
    font-size: x-large;
    font-family: 'Times New Roman', Times, serif;
}

button:hover {
    background: #553D67;
}

button:active {
    background: #553D67;
    color: wheat;
}

.left:hover, .left:active {
    transition:all  850ms;
    -webkit-transform: translateX(-1px);
    transform: translateX(-33px);
}
.right:hover, .right:active {
    transition:all  850ms;
    -webkit-transform: translateX(-1px);
    transform: translateX(33px);
}
.forward:hover, .forward:active {
    transition:all  850ms;
    -webkit-transform: translateY(-1px);
    transform: translateY(-33px);
    
}
.backward:hover, .backward:active {
    transition:all  850ms;
    -webkit-transform: translateY(-1px);
    transform: translateY(33px);
}
.stop:hover, .stop:active {
    transition:all  850ms;
    -webkit-transform: scale(-1px);
    transform: scale(0.8);
}
